.upload-container {
  color: white;
  font-family: 'Syne Mono', monospace;
  border: solid;
  padding: 60px;
  background-image: url("https://res.cloudinary.com/dplkc6qh4/image/upload/v1670346329/belles-etoiles-brillantes-dans-ciel-nocturne_181624-622_h7crnr.webp");
  img {
    position: relative;
    top: -28px;
    left: 62px;
  }
  p{
  font-family: 'Syne Mono', monospace;
  }
}

.label {

  font-family: 'Orbitron' !important;
}

.fa-star {
    color: white;
    position: relative;
    left: 9px;
}
