<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dplkc6qh4/image/upload/v1669827377/logo_cyberclosette_hapkns.png", class:"navbar-icon" %>
    <% end %>
  </div>
</div>
