<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dplkc6qh4/image/upload/v1670263183/CYBERCLOSETTE_-_copie_f2jx9x.png", class:"navbar-icon" %>
    <% end %>
</div>
