<div class="upload-container">
  <%= simple_form_for(clothe) do |f| %>
    <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670265077/upload_lxtaja.png" class="title-section">
    <br>
      <%= f.input :photo, as: :file %>
    <br>
      <%= f.submit  %>
  <% end %>
</div>
