<div class="container">
  <%= simple_form_for(clothe) do |f| %>
    <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670233943/upload_q5jbjy.png">
    <br>
      <%= f.input :photo, as: :file %>
    <br>
      <%= f.submit  %>
  <% end %>
</div>
