<div class="favoris-container">
<div class= "title-favoris">
<img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670265077/loved_rwigak.png" class="title-section">
</div>
<div class="favoris-clothe">
    <% @user_favorite_clothes.each do |clothe| %>
        <%= cl_image_tag clothe.photo.key, height: 300, width: 400, crop: :fit, class:"show-img" %>
          <%= link_to "", favorite_path(clothe), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} , class: "fa-regular fa-trash-can"%>
    <% end %>
  </div>
</div>
