<div class="landing-container">
  <div id="meteo">
<img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670335300/meteo_arijjx.png">
</div>
  <div id="head-container">
    <h1>Bonjour <%= current_user.first_name %>, </h1>
  </div>

  <div id="todaymood-container">
     <h2> "Hi Little Gemini, </h2>
     <h2> Today is the perfect day </h2>

     <h2> to wear a raincoat </h2>
     <h2> and clear you mind." </h2>
  </div>

  <div id="logo-container">
    <img class="shake" src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1669827387/white_logo_cyberclosette_wdmkbb.png" id="logo-homepage">
  </div>
  <div>
    <ul id="landing-button" class="blink" >
     <%= link_to "Discover your Today Outfit", new_user_session_path%>
    </ul>
   </div>
</div>
