<div class="container">
  <div id="head-container">
    <h1>Bonjour <%= current_user.first_name %>, </h1>
  </div>

  <div id="todaymood-container">
    <p> Hi Little Gemini, Today is the perfect day to wear a raincoat and clear you mind. </p>
  </div>

  <div id="logo-container">
    <img scr="https://res.cloudinary.com/dplkc6qh4/image/upload/v1669827387/white_logo_cyberclosette_wdmkbb.png">
    <p> Discover your Today Outfit </p>
  </div>
</div>
