
<div class="container-principal">
<div class="container-profile">

  <div class="profile-pic">
    <% if current_user.photo.key %>
      <%= cl_image_tag current_user.photo.key, width: 125 %>
    <% end %>
  </div>
  <%# <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670239150/kisspng-constellation-gemini-orion-zodiac-sagittarius-constellation-5abf3dbf378d68.6223169315224826232276_esnnlj.png" alt="gemini"> %>
  <div class="button-profile">
    <%= link_to "Modifier mon profil", edit_user_registration_path(@user) %>
  </div>
</div>
<div class="week-outfit">
  <div class="scrollmenu">
    <div class="day">

      <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670424082/Group_68c_bvl3kr.png" alt="monday-outfit" height="300px" width="125px">
      <h4 class="days-title">Lundi</h4>
    </div>
    <div class="day">
      <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670424154/Group_70c_q97848.png" alt="tuesday-outfit" height="300px" width="125px">
      <h4 class="days-title">Mardi</h4>
    </div>
    <div class="day">
      <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670424158/Group_71b_wzy1lz.png" alt="wednesday-outfit" height="300px" width="125px">
      <h4 class="days-title">Mercredi</h4>
    </div>
    <div class="day">
      <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670424150/Group_69b_sthgnr.png" alt="thursday-outfit" height="300px" width="125px">
      <h4 class="days-title">Jeudi</h4>
    </div>
  </div>
</div>
