
<div class="container-profile">
  <div class="profile-pic">
    <% if current_user.photo.key %>
      <%= cl_image_tag current_user.photo.key, width: 125 %>
    <% end %>
  </div>
  <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670239150/kisspng-constellation-gemini-orion-zodiac-sagittarius-constellation-5abf3dbf378d68.6223169315224826232276_esnnlj.png" alt="gemini">
  <button><%= link_to "Modifier mon profil", edit_user_registration_path(@user)%></button>
</div>
<div class="week-outfit">
  <h2>Mes tenues de la semaine</h2>
  <div class="scrollmenu">
    <div class="day">
      <h4>Lundi </h4>
      <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670097845/Capture_d_%C3%A9cran_2022-12-03_%C3%A0_21.03.34_jqiveb.png" alt="monday-outfit" width="200px">
    </div>
    <div class="day">
      <h4>Mardi </h4>
      <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670097846/Capture_d_%C3%A9cran_2022-12-03_%C3%A0_21.01.01_i8xvbx.png" alt="tuesday-outfit" width="200px">
    </div>
    <div class="day">
      <h4>Mercredi</h4>
      <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670097848/Capture_d_%C3%A9cran_2022-12-03_%C3%A0_21.00.18_h4wgsq.png" alt="wednesday outfit" width="200px">
    </div>
  </div>
</div>
