
<div class="container-principal">
<div class="container-profile">

  <div class="profile-pic">
    <% if current_user.photo.key %>
      <%= cl_image_tag current_user.photo.key, width: 125 %>
    <% end %>
  </div>
  <%# <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670239150/kisspng-constellation-gemini-orion-zodiac-sagittarius-constellation-5abf3dbf378d68.6223169315224826232276_esnnlj.png" alt="gemini"> %>
  <div class="button-profile">
    <%= link_to "Modifier mon profil", edit_user_registration_path(@user) %>
  </div>
</div>
<div class="week-outfit">
  <h2>Mes tenues de la semaine</h2>
  <div class="scrollmenu">
    <div class="day">
      <h4>Lundi</h4>
      <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670411282/Group_63_zwthsf.png" alt="monday-outfit" height="300px" width="100px">
    </div>
    <div class="day">
      <h4>Mardi</h4>
      <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670411288/Group_65_dfrgzy.png" alt="tuesday-outfit" height="300px" width="200px">
    </div>
    <div class="day">
      <h4>Mercredi</h4>
      <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670411271/Group_59_drq9fo.png" alt="wednesday-outfit" height="300px" width="100px">
    </div>
    <div class="day">
      <h4>Jeudi</h4>
      <img src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670411290/Group_66_mii3tu.png" alt="thursday-outfit" height="300px" width="100px">
    </div>
  </div>
</div>
