

#carrousel-container {
  padding-left: 30px;
  padding-right: 30px;
  margin: $carousel-margin auto;
  img {
    max-height: 100%;
  }
}

.carousel-top {
  height: $top-height;


}

.carousel-bottom {

  height:$bottom-height;
}

.carousel-shoes {
 height: $shoes-height;
}
