
#footer {
  height: 65px;
  box-shadow: 0px 4px 4px rgba(167, 164, 164, 0.25);
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-top: auto;
  background: #FFFFFF;
  border-top: solid;

}
.bodybody {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}

#one  {
  margin: auto;
  padding: initial;
  color: black;
}

#two {

  margin: auto;
  padding: initial;
  color: black;
}

#three {
  margin: auto;
  padding: initial;
  color: black;
}

#four {
  margin: auto;
  padding: initial;
  color: black;
}

#five {

  margin: auto;
  padding: initial;
  color: black;

}
