.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #c5c5c5;
  color:  #9747FF;
  border: 1px solid #9747FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  border: 1px solid #c5c5c5;
  background-color:#9747FF ;
  color: white;
}

body {
  margin-bottom: 30px;
}
.label {
  padding-left: 30px;
  font-size: large;
 color: #F4F4F4;

}
.chiant {
  margin-left: 30px;
}

.bouton-update {
 color: #F4F4F4;
  border: solid;
  border-color: #F4F4F4;
  background: url("https://res.cloudinary.com/dplkc6qh4/image/upload/v1670421897/Capture_d_e%CC%81cran_2022-12-07_a%CC%80_15.04.29_dhumk1.png");
  position: relative;
  top: 8px;
  left: 66px;

}

.form-control {

  font-family: 'Syne Mono', monospace;
  position: inherit;
  margin-top: 10px;

}


#clothe_photo {
  color: #2d1053;


}

#user_password {
 color: white;

}

.upload-picture {
  background-color: #9747FF;
}
