.navbar-lewagon {
  justify-content: center;
  background: #FFFFFF;
  border-bottom: solid;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around !important;
  height: 65px;
}
