.navbar-lewagon {
  justify-content: center;
  background: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;

}

.navbar-icon{
  width: 115px !important;
  display: flex;
  justify-content: center;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around !important;
  height: 65px;
}
