.navbar-lewagon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  height: $navbar-height;
}

.navbar-brand {
  height: 100% !important;
  max-height: 100% !important;
  padding: 5px 0;
  margin-left: 19px;
}

.navbar-icon {
  height: 100% !important;
  max-height: 100% !important;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around !important;
}
