// .vestiaire-container {

// }

.vestiaire-title {
  justify-content: center;
  display: flex;
  font-weight: bold;
}

.clothe-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 26px;
  justify-content: center;
  padding: 26px;
  background-image: url("https://res.cloudinary.com/dplkc6qh4/image/upload/v1670346329/belles-etoiles-brillantes-dans-ciel-nocturne_181624-622_h7crnr.webp");
}

.clothe-card {
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;

}

.clothe-card img {
  max-height: 100%;
  height: auto;
  display: block;
}
