
<div class="clothe-container">
 <div>
  <img class="title-section" src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670265077/closet_xf5fvp.png">
</div>
  <% @clothes.each do |clothe| %>
    <div class="clothe-card">
      <%= link_to clothe_path(clothe) do %>
        <%= cl_image_tag clothe.photo.key, width: 150 %>
      <% end %>
    </div>
  <% end %>
</div>


 <%# <% if clothes.category == @top %>
   <%#<div >
    <img class="title-section" src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670265077/closet_xf5fvp.png">
  </div>
  <% elsif clothes.category == @bottom %>
  <%#  <div >
      <img class="title-section" src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670265077/closet_xf5fvp.png">
    </div>
 <% else clothes.category == @shoes %>
   <%# <div >
      <img class="title-section" src="https://res.cloudinary.com/dplkc6qh4/image/upload/v1670265077/closet_xf5fvp.png">
    </div>
 <% end %>
